.pop-up-registr-wrapper {
  height: fit-content;
  width: 45vh;
  background-color: seashell;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 11;
  border-radius: 10px;
}

.pop-up-registr-wrapper > button {
  width: 11.9vw;
  margin: 10px 5px;
}

.cancel-btn-popup,
.login-btn-popup {
  border: 2px solid #ffa812;
  background-color: #ff99008a;
  color: white;
  border-radius: 10px;
  padding: 0.3em;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 5px 0 #e67409;
  transition-duration: 0.4s;
  text-shadow: 2px 2px 0 #e674098a;
  box-sizing: border-box;
}

.cancel-btn-popup:hover,
.login-btn-popup:hover {
  text-shadow: 0px 0px 20px #67ff28, 0px 0px 6px #fcff2a;
}

.cancel-btn-popup:target,
.login-btn-popup:target,
.cancel-btn-popup:active,
.login-btn-popup:active {
  transform: translateY(5px);
  box-shadow: 0 0 0 #e674098a;
  text-shadow: 2px 2px 0 #42964c;
  background-color: #69c160;
  border: 2px solid #42964c;
}

.input-login,
.input-password {
  border: 2px solid #ffa812;
  border-radius: 10px;
  padding: 0.3em;
  margin: 1rem;
  font-size: 1.3rem;
  transition-duration: 0.4s;
  text-shadow: 2px 2px 0 #e674098a;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
.pop-up-registr-wrapper {
  width: 82vw;
}

.input-login,
.input-password {
  width: 80vw;
}

.pop-up-registr-wrapper > button {
  width: 37vw;
}

}

@media screen and (max-width: 1000px) and (min-width: 501px) {
  .pop-up-registr-wrapper {
    width: 82vw;
  }

  .input-login,
  .input-password {
    width: 80vw;
  }

  .pop-up-registr-wrapper > button {
    width: 37vw;
  }
}
