.background {
	display: flex;
	justify-self: center;
}

#contact > a {
    cursor: default;
}

#contact {
  text-shadow: 
  -1px 1px 0 #70CB0E,
  1px 1px 0 #70CB0E,
  1px -1px 0 #70CB0E,
  -1px -1px 0 #70CB0E;	
}