li {
  display: grid;
  grid-template-columns: 66px 80px 120px 44px 120px;
  column-gap: 25px;
  height: 72px;
  align-items: center;
  width: fit-content;
}

h2,
.page-winners,
.num-of-page-winners,
.amount-of-winners-on-page {
  display: inline-block;
}
