* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 20px;
}

.wrapper {
  padding: 2%;
}

.hidden {
  display: none;
}

body {
  background: linear-gradient(
    -45deg,
    #f1603342,
    #d6e73c2d,
    #23a5d52d,
    #23d5ab6c
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
