.best-score {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.list-of-users {
  display: flex;
  flex-direction: column;
}

.list-of-users > li {
  display: grid;
  grid-template-columns:4rem  18rem 18rem;
  grid-template-rows: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 0 1rem 0;
  border-radius: 10px;
  padding: 0.3rem;
}

.list-of-users > li > img {
  height: 2rem;
  border-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
}
