* {
  margin: 0;
  padding: 0;
}

#app {
  background-color: #636a73;
  background-image: url("assets/back.png");
  background-size: cover;
}

html {
  font-size: 20px;
}

.hidden.to-hide-when-best-res-shows,
.hidden.best-result-wrapper {
  display: none;
}
