.cards-field {
  width: 70%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.stopwatch {
  width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #fdf0df;
    background-image: radial-gradient(#81e2e24d, #e4b885);
}
