header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  width: 100%;
  background-color: #c5282812;
}

.logo {
  display: flex;
  font-family: monospace;
  line-height: 1rem;
  line-height: 1rem;
  background-image: linear-gradient(45deg, #a10404, #9ad5d2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-pic {
  background-image: url("../../assets/brain-logo.svg");
  background-size: cover;
  width: 3rem;
  height: 3rem;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 0 1rem 0 1rem;
}

.btn {
  border: none;
  background-color: transparent;
  color: antiquewhite;
  font-size: inherit;
  height: 3em;
  cursor: pointer;
}

.btn:hover {
  text-shadow: -5px 4px 3px rgb(47 79 79 / 87%);
}

.log-out_btn.btn:hover,
.regictration-btn.btn:hover {
  text-shadow: -5px 4px 3px rgb(47 79 79 / 87%);
}

.regictration-btn.btn {
  color: antiquewhite;
  font-size: inherit;
  padding: 0 1rem 0 1rem;
  height: 3rem;
  background-image: linear-gradient(45deg, #82e2e2c4, #e4b885);
}

.log-out_btn.btn {
  background-image: linear-gradient(45deg, #82e2e2c4, #e4b885);
  margin-left: 0.3rem;
}

.log-out_btn,
.start-game-btn.btn {
  background-image: linear-gradient(45deg, #04a1097d, #ded240d1);
  color: antiquewhite;
  font-size: inherit;
  padding: 0 2rem 0 2rem;
  height: 3rem;
}

.stop-game-btn.btn {
  background-image: linear-gradient(45deg, #f10a0a8f, #fff7003d);
  color: antiquewhite;
  font-size: inherit;
  padding: 0 2rem 0 2rem;
  height: 3rem;
}

.active {
  text-shadow: -5px 4px 3px rgb(47 79 79 / 87%);
}

.btn-and-prof-pic {
  display: flex;
}

.pic-user {
  height: 3rem;
  max-width: 6rem;
  object-fit: cover;
  margin-right: 0.3rem;
}
